* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-size: cover;
    min-height: 100vh;
}

header, form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

header {
    color: white; 
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

form input[type=text], form button {
    border: none;
    padding: 1rem;
    outline: none;
    background-color: white;
    font-size: 1.5rem;
}

form input{
    width: 30rem;
}

form button {
    color: #ff8800;
}

form button:hover {
    background-color: #ff8800;
    color: white;
}

/*filter*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-transform: uppercase;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fab776;
    width: 13rem;
}

.select {
    position: relative;
}

.select::after {
    content: "\25BC";
    color: white;
    background-color: #ff8800;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    pointer-events: none;
}


/* todo-list */

.todo-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todoDiv {
    height: 3rem;
    width: 30rem;
    background: white;
    display: flex;
    /* padding: 1rem; */
    margin-bottom: 0.2rem;
    transition: all 0.5s ease;
}

.todoLi {
    font-size: 1.5rem;
    flex-grow: 1;
    padding: 0.5rem;
    list-style-type: none;
    align-self: center;
}

.checkBtn, .deleteBtn {
    background-color: white;
    /* height: 100%; */
    width: 3rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
}

.checkBtn {
    background-color: yellowgreen;
}

.deleteBtn {
    background-color: red;
}

.checkBtn:hover {
    background-color: transparent;
    color: yellowgreen;
}

.deleteBtn:hover {
    background-color: transparent;
    color: red;
}

.checkBtn i, .deleteBtn i {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide-out {
    transform: translateX(15rem) rotateX(90deg);
    opacity: 0.5;
}

.hidden {
    display: none;
    position: absolute;
    transition: none;
}


